/* Category */
.searchResultContainer {
  @include media('>=desktop') {
    padding: 0;
  }

  :global(.vtex-breadcrumb-1-x-link--1) {
    font-size: 10px;
    text-transform: uppercase;
  }

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth),
  :global(.vtex-store-components-3-x-container) {
    padding: 0;
  }
}

:global(.vtex-flex-layout-0-x-flexRow--searchinfomobile) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 50% !important;
  padding: 10px !important;
}

.totalProducts--layout {
  border: 0;
  justify-content: flex-start;
  display: flex;
  padding: 8px 10px;
  font-size: 14px;
  color: $c-gray04;
  text-transform: lowercase;

  @include media('>=desktop') {
    padding-left: 0px;
  }
}

.gallery {
  padding: 0;
}

.galleryTitle--layout {
  color: $c-gray08;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 0;

  @include media('<=desktop') {
    padding: 18px 0;
    margin: 0 10px;
    border-bottom: 1px solid $c-gray03;
  }
}

.filter__container--title:first-child {
  display: none;
}

.filterTitle {
  font-size: 12px;
  color: $c-gray06;
  font-weight: 800;
}

.filters--layout {
  font-size: 12px;
  font-weight: 500;
}

.categoryItemName {
  display: none
}

.buttonShowMore {
  margin: 16px 0 0;

  :global(.vtex-button) {
    border: 1px solid $c-gray03;
    background-color: transparent;
    width: 184px;

    &:hover {
      border: 1px solid $c-gray03;
    }
  }

  :global(.vtex-button__label) {
    font-size: 0px;
    color: $c-gray05;
    font-weight: 700;

    &::before {
      font-size: 12px;
      content: 'Carregar Mais';
    }
  }
}

.container {
  &--layout {
    margin: 0 0 24px;

    @media screen and (min-width: 1024px) {
      margin: 0 0 56px;
    }
  }
}

.filterPopupButton {
  height: 48px;
}

.filterPopupTitle {
  text-transform: capitalize !important;
  font-weight: 700;
  font-size: 12px;
}

.orderByButton {
  padding: 0px;
  height: 50px;
  margin: 0;
  border: 1px solid $c-gray03;
  justify-content: center;
  border-radius: 0px;

  @include media('>desktop') {
    height: auto;
    border: none;
  }
}

.orderByOptionsContainer {
  z-index: 15;
  left: 0;
}

.orderByText {
  color: $c-gray06;
  font-weight: 400;
}

.orderByDropdown {
  color: $c-gray05;
  padding: 0;

  @include media('<=desktop') {

    .filterPopupTitle,
    .filterPopupArrowIcon {
      display: none;
    }

    .orderByButton {
      &::before {
        background-image: $ico-orderByButton;
        background-position: center;
        background-repeat: no-repeat;
        content: '';
        display: flex;
        height: 17px;
        width: 17px;
        transition: .5s;
        margin: 0 10px 0 0;
      }

      &::after {
        content: "ORDENAR";
        position: relative;
        color: $c-gray05;
        font-weight: 800;
        flex: 0 0 auto;
        font-size: 12px;
      }
    }
  }
}

.loadingOverlay :global(.vtex-flex-layout-0-x-flexRow--name-orderby) {
  border-bottom: 1px solid $c-gray03;
  padding: 7px 0 15px;
}

.filtersWrapperMobile {
  border: 1px solid $c-gray03;
}

.filtersWrapperMobile {
  @include media('<=desktop') {
    .filterPopupTitle ,
    .filterPopupArrowIcon {
      display: none;
    }

    .filterPopupButton::before {
      background-image: $ico-filterPopupButton;
      background-position: center;
      background-repeat: no-repeat;
      content: '';
      display: flex;
      height: 10px;
      width: 10px;
      transition: .5s;
      margin: 0 10px;
    }

    .filterPopupButton::after {
      content: "REFINAR";
      position: relative;
      margin: 0 15px;
      color: $c-gray05;
      font-weight: 800;
      font-size: 12px;
    }
  }
}

.filterAccordionBreadcrumbs {
  border-color: $c-primay01;
}

@include media('>=desktop') {
  .filterBreadcrumbsItem {
    padding: 12px;
  }
}

.categoryItemChildrenContainer:first-child {
  border: 0;
}

.categoryItemChildren {
  font-size: 12px;
  line-height: 14px;
  color: $c-gray05;
}

.caretIcon {
  display: none;
}

.filterPopupArrowIcon,
.accordionFilterContent,
.filterIcon {
  &::before {
    background-image: $ico-filterIcon;
    content: '';
    display: block;
    width: 18px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.filterPopupArrowIcon {
  padding: 0 15px 0 20px;

  &::before {
    background-size: contain;
    width: 10px;
    height: 5px;
  }
}

.filterIcon::before {
  position: absolute;
}

.accordionFilterContent::before {
  position: absolute;
  right: 24px;
}

.filterItem :global(.vtex-checkbox__label) {
  color: $c-gray05;
}

.accordionFilterItemTitle {
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  color: $c-gray06;
}

.filterBreadcrumbsItemName,
.filterBreadcrumbsText {
  color: $c-gray08;
  font-size: 16px;
  font-weight: 500;
}

.filterBreadcrumbsItemName {
  &::before {
    content: '/';
    margin-right: 5px;
  }
}

.accordionFilterContainer {
  padding-left: 16px;
}

.categoryItemChildrenContainer {
  padding: 0;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer--notfound) {
  width: 90%;
  display: block;
  margin: 0 auto;
}

/* Category */

.galleryItem--normal :global(.vtex-product-price-1-x-savings--summary) {
  position: inherit;
  margin: 0;
}

:global(.vtex-checkbox__line-container) {
  margin: 10px 0;
}

.filterButtonsBox {
  border: 0;
}

.filterClearButtonWrapper {
  :global(.vtex-button) {
    border: 1px solid $c-gray03;
    font-weight: 800;
    font-size: 12px;
  }
}

.filterApplyButtonWrapper {
  :global(.vtex-button) {
    background-color: $c-accent03;
    color: $white;
    font-weight: 800;
    font-size: 12px;
  }
}