.container {
  padding: 0 16px;

  @include media('>=desktop') {
    max-width: 1024px;
  }

  @include media('>=wide') {
    max-width: 1200px;
  }

  @media screen and (min-width: 1224px) {
    max-width: 1224px;
    padding: 0;
  }
}

.label {
  color: $c-gray04;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: $white;

  :global(.vtex-styleguide-9-x-hideDecorators) {
    background-color: transparent;
    color: $c-gray04;
    border: none;
  }

  :global(.vtex-button) {
    background-color: transparent;
    color: $white;
    border: none;
    margin-right: -24px;
  }
}

.productImagesContainer {
  &--quickview {
    .carouselContainer {
      justify-content: flex-start;
    }

    .productImageTag {
      object-fit: cover !important;
    }

    .carouselGaleryThumbs {
      display: none;
    }

    .carouselGaleryCursor {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}
