// Variables
@import '../settings/_index';

.notiferContainer {
  @media(min-width: 768px) {
    max-width: 288px;
  }
}

.title {
  color: $c-primay01;
  font-size: 0px;
  text-transform: uppercase;
  font-weight: 700;

  &::before {
    content: 'Avise-me';
    font-size: 18px;
  }
}

.notifyLabel {
  color: $c-gray05;
  font-size: 0px;
  font-weight: 400;
  line-height: 22px;

  &::before {
    content: 'Para ser avisada da disponibilidade deste produto, basta preencher os campos';
    font-size: 14px;
  }
}

.content {
  flex-wrap: wrap;
}

.input {
  margin-right: 0;

  :global(.vtex-input-prefix__group) {
    border-radius: 0px;
    border: 0px;
    height: 56px;
  }

  :global(.vtex-styleguide-9-x-input) {
    background: $c-gray01;
    border: 1px solid $c-gray02;
    border-radius: 0px;
    padding: 0 16px;
  }
}

.submit {
  width: 100%;

  :global(.vtex-button) {
    width: 100%;
    background: $c-accent03;
    cursor: pointer;
  }

  :global(.vtex-styleguide-9-x-rotate) {
    color: $white;
  }

  :global(.vtex-button__label) {
    font-weight: 800;
    font-size: 12px;
    color: $white;
  }
}
