/* Home */
.sliderLayoutContainer--home-banner-carousel {
  background-color: $white;
  padding: 0 0 44px;

  @include media('>=tablet') {
    padding: 0 0 70px;
  }
}

.sliderTrackContainer {
  &--home-banner-carousel {
    max-width: 100%;
  }

  &--home-categorias-carousel {
    width: calc(100% + 24px);
    margin: 0 -12px;
  }
}

.paginationDotsContainer--home-banner-carousel {
  bottom: 27px;

  @include media('>=tablet') {
    bottom: 44px;
  }
}

.sliderArrows--home-banner-carousel {
  padding: 0;
  margin: 0;
  top: calc(50% - 55px);
}

.caretIcon--home-banner-carousel {
  width: 11px;
  color: $c-gray03;
}

.sliderLeftArrow.sliderArrows--home-banner-carousel {
  left: calc(50% - 612px);
}

.sliderRightArrow.sliderArrows--home-banner-carousel {
  right: calc(50% - 612px);
}

.sliderLayoutContainer--home-categorias-carousel {
  padding: 0 0 70px !important;
}

.sliderLeftArrow.sliderArrows--home-categorias-carousel {
  left: 0;
}

.sliderRightArrow.sliderArrows--home-categorias-carousel {
  right: 0;
}

@media screen and (min-width: 2560px) {
  .sliderLeftArrow.sliderArrows--home-banner-carousel {
    left: 21%;
  }

  .sliderRightArrow.sliderArrows--home-banner-carousel {
    right: 21%;
  }
}


/* Home */
