.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.sliderLayoutContainer {
  &--shelf {
    padding: 0 0 52px !important;

    @include media('>=tablet') {
      padding: 0 0 75px !important;
    }
  }
}

.slide {
  &--shelf {
    padding-left: 0;
    padding-right: 0;
    margin: 16px 0 0;

    @include media('>=tablet') {
      margin: 24px 0 0;
    }

    :global(.vtex-product-summary-2-x-element) {
      padding: 0;
    }
  }
}
