.sliderLayoutContainer {
  justify-content: center;
}

.paginationDotsContainer {
  align-items: center;
  margin: 0;
  bottom: 24px;
  line-height: inherit;

  @include media('>=tablet') {
    bottom: 40px;
  }
}

.sliderArrows {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid $c-gray03;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: $white;
  }
}

.caretIcon {
  width: 11px;
  color: $c-gray03;
  position: relative;
  z-index: 5;
}

.paginationDot {
  background: $c-gray03;
  width: 8px !important;
  height: 8px !important;
  border: 0px solid $c-gray03;
  transition: all 100ms linear;
  padding: 0;
  margin: 0 16px 0 0;

  &:last-child {
    margin: 0;
  }

  &--isActive {
    background: $white;
    width: 12px !important;
    height: 12px !important;
    border: 3px solid $c-primay01;
  }
}
