// Variables
@import '../settings/_index';

.row {
  &--menu-row {
    padding-right: 24px;

    .rowContainer {
      align-items: flex-start;
    }
  }

  &--payment-methods {
    padding-top: 16px;
  }
}
