/* Start Home Slider */

.link--home-slider-button {
  background: $c-buttonPrimary;
  display: block;
  width: 100%;
  max-width: 180px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-weight: 500;
  font-size: 12px;
  color: $c-buttonText;
  text-decoration: none;
  text-transform: uppercase;
}

/* EndHome Slider */
