// Variables
@import '../settings/_index';

.newsletterForm {
  margin-top: 24px;

  :global(.vtex-button) {
    background-color: $c-accent03;
  }

  @include media('>=phone') {
    margin-top: 0;
  }

  @include media('>=desktop') {
    display: flex;
  }
}

.emailInputContainer {
  @include media('>=desktop') {
    width: 100%;
    margin-right: 24px;
  }

  :global(.vtex-input-prefix__group) {
    border: 1px solid $c-gray02;
    border-radius: 0;
    height: 48px;
    margin-bottom: 8px;

    @include media('>=desktop') {
      margin-bottom: 0;
    }
  }

  :global(.vtex-styleguide-9-x-input) {
    background: $c-gray01;
    color: $c-gray04;
    font-size: 12px;
    border-radius: 0;
  }
}

.formSubmitContainer {
  :global(.vtex-button) {
    width: 100%;
    font-size: 12px;
    align-items: center;
    font-weight: 700; 
    min-width: 168px;
    background-color: $c-accent03;
    &:hover {
      background-color: $c-primay03;
    }
  }

  :global(.vtex-button__label) {
    padding: 0 !important;
  }
 }

.defaultSuccessMessage,
.defaultErrorMessage {
  font-size: 14px;
  color: $c-gray04;
  text-align: center;
}
