// Variables
@import '../settings/_index';

.openIconContainer {
  &--menu-header-mobile {
    padding: 0;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      background-image: $ico-menuMobile;
      width: 24px;
      height: 24px;
      display: flex;
    }
  }
}

.menuIcon {
  &--menu-header-mobile {
    display: none;
  }
}

.closeIconButton {
  display: none;
}
