.flexRow {
  &--error-404 {
    background-color: #f0f0f0;
  }
}

.flexRowContent {
  &--error-404 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
