/* Header */

.flexRow {

  &--main-header-mobile,
  &--menu-header-mobile {
    width: 100%;
  }

  &--login-mobile {
    margin-bottom: 13px;
    width: 100%;
  }

  &--menu-links-footer {
    width: 100%;
  }

  &--submenu-desktop {
    background-color: $white;
    padding: 48px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.14);

    :global(.vtex-store-components-3-x-container) {
      padding: 0;
    }
  }
}

.flexRowContent {
  &--main-header-mobile {
    padding: 0;
    background-color: $white !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: none !important;
  }

  &--menu-header-mobile {
    flex-direction: column;

    .items-stretch {
      flex: 0 0 100%;
    }
  }

  &--menu-links-footer {
    padding: 0 16px;
    margin-top: 18px;
  }
}

/* Header */
