/* Home */

.flexCol--home-slider-carousel {
  position: relative;
}

.flexColChild {
  &--home-categorias-carousel {

    .imageElementLink,
    .imageElement {
      display: block;
    }
  }

  &--home-slider-carousel {
    &:nth-child(2n) {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      padding: 16px;

      @include media('>=tablet') {
        padding: 0;
      }
    }
  }

  &--home-slider-content-text {
    max-width: 288px;
  }

  &--home-categorias-carousel {
    justify-content: center;
    display: flex;
  }
}

.flexCol--home-slider-content-text {
  max-width: 1224px;
  margin: 0 auto;

  @include media('>=tablet') {
    padding: 0 0 0 103px;
  }
}

.flexRow {
  &--home-categorias-carousel {
    width: 100%;
  }
}

.flexRowContent {

  &--shelf-img-row,
  &--home-banner-footer-row {
    justify-content: space-between;

    .stretchChildrenWidth {
      max-width: 600px;
    }

    :global(.vtex-store-components-3-x-imageElementLink),
    :global(.vtex-store-components-3-x-imageElement) {
      display: block;
      width: 100%;
    }
  }

  &--home-banner-footer-row {
    margin: 0 -15px 24px;
    width: calc(100% + 30px);

    @include media('<=tablet') {
      .stretchChildrenWidth {
        &:first-child {
          margin-bottom: 24px;
        }
      }
    }

    @include media('>=tablet') {
      margin: 0 0 40px;
      width: 100%;
    }
  }

  @include media('>=tablet') {
    &--shelf-img-row-2 {
      flex-direction: row-reverse;
    }
  }

  &--shelf-img-row,
  &--shelf-img-row-2 {
    @include media('>=tablet') {
      margin: 0 0 40px;
      justify-content: space-between;
    }

    .stretchChildrenWidth {
      @include media('>=tablet') {
        max-width: 600px;
      }
      :global(.vtex-product-summary-2-x-element) {
        padding: 0;
      }

      &:first-child {
        @include media('<=tablet') {
          margin: 0 -15px 16px;
          width: calc(100% + 30px) !important;
        }
      }

      .stretchChildrenWidth {
        &:first-child {
          @include media('<=tablet') {
            margin: 0;
            width: auto !important;
          }
        }
      }
    }

    @include media('<=tablet') {
      :global(.vtex-slider-layout-0-x-paginationDotsContainer) {
        bottom: 24px;
      }
    }
  }
}

/* Home */
