/* Product */
.flexRowContent {
  &--product-main {
    display: block;

    @include media(">=tablet") {
      display: flex;
    }

    .stretchChildrenWidth {
      padding: 0;
      flex: 1;
    }

    :global(.vtex-address-form__postalCode) {
      :global(.vtex-input__label) {
        font-size: 0;
        margin: 0 0 10px;

        &::before {
          content: "Consulte o prazo e entrega";
          position: relative;
          font-weight: 500;
          font-size: 14px;
          color: $c-gray06;
        }
      }
    }
  }

  &--product-menu {
    justify-content: flex-start;

    .stretchChildrenWidth {
      // flex: 0 0 auto;

      &:first-child {
        margin: 0 24px 0 0;
      }
    }
  }

  &--product-qt-by {
    display: none;
    margin-top: 30px;

    @include media(">=tablet") {
      display: flex;
    }
    @include media(">=desktop") {
      .stretchChildrenWidth {
        flex: none;
        &:last-child {
          width: auto;
          justify-content: flex-end;
        }
      }
    }
  }

  &--product-qt-by-mob {
    @include media(">=phone") {
      display: flex;
      flex-direction: column;
    }
    @include media(">=tablet") {
      display: none;
    }
  }
}

.flexRow {
  &--product-menu {
    margin: 0 0 15px;
  }

  &--product-qt-by {
    :global(.vtex-wish-list-0-x-wishlistIconContainer) {
      @media (max-width: 425px) {
        position: absolute;
      }

      :global(.vtex-button) {
        @media (max-width: 425px) {
          position: relative;
          bottom: 122px;
          left: 222px;
        }

        @media (max-width: 325px) {
          position: relative;
          bottom: 122px;
          left: 200px;
        }

        margin-left: 16px;
        border: 1px solid $c-gray03;
      }

      :global(.vtex-button__label) {
        padding: 15px;

        &::before {
          background-image: $ico-wishlist;
          background-position: center;
          background-repeat: no-repeat;
          content: "";
          display: flex;
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  &--product-menu {
    .flexRowContent {
      display: flex;
    }
  }
}

.flexColChild--right-col {
  @include media(">=tablet") {
    margin-left: 24px;
  }
}

.flexCol--buy-button {
  flex: 0 0 auto;
  margin: 0 0 10px;

  :global(.vtex-button) {
    background-color: $c-accent03;
    border-color: $c-accent03;
  }

  @include media(">=desktop") {
    flex: 0 0 235px;
    margin: 0;
    :global(.vtex-button) {
      margin: 0 10px;
    }
  }

  @include media(">=wide") {
    flex: 0 0 320px;
  }
}

:global(.vtex-add-to-cart-button-0-x-buttonText) {
  position: relative;
  font-weight: 800;
  font-size: 12px;
  color: $white;
}

:global(.vtex-numeric-stepper__input) {
  @media (max-width: 425px) {
    width: 220px;
  }

  @media (max-width: 325px) {
    width: 200px;
  }
}

.flexCol {
  &--right-col {
    @include media(">=desktop") {
      max-width: 500px;
    }
  }
  &--product-qt-by-mob {
    display: flex;
    flex-direction: row;
    margin-top: 24px;

    :global(.vtex-flex-layout-0-x-flexColChild--product-qt-by-mob):first-child {
      width: 100%;
    }
  }

  &--stack-col {
    position: relative;
    :global(.vtex-wish-list-1-x-wishlistIconContainer) {
      position: absolute;
      top: 0;
      z-index: 100;
      right: 0;
    }
  }
}

/* Product */
