.flexCol {
  &--filterCol {
    max-width: 500px;
    min-width: 288px;
  }

  &--productCountCol {
    align-items: flex-start;
  }

  &--orderByCol {
    align-items: flex-end;
    justify-content: center;
  }

  &--orderByMobileCol {
    width: 42%;
  }

  &--filterMobileCol {
    width: 38%;
  }

  &--switcherMobileCol {
    width: 20%;
  }
}


.flexRow {
  &--quickviewMainRow {
    display: flex;
    max-height: 100%;
  }
}

.flexColChild {
  &--quickviewDetails &:first-child {
    overflow: hidden;
  }
}
