.flexRow {
  &--quickview-wishlist {
    right: 8px;
    position: absolute;
    z-index: 10;
  }
}

.flexRowContent {
  &--quickview-wishlist {
    display: flex;
    flex-direction: column;

    .stretchChildrenWidth {
      justify-content: flex-end;
      width: auto !important;
    }
  }
}
