// Variables
@import '../settings/_index';

.cartIcon {
  opacity: 0;
}

.minicartIconContainer {
  &::before {
    content: '';
    display: block;
    background-image: $ico-minicartIconContainer;
    width: 18px;
    height: 22px;
    position: absolute;
    background-repeat: no-repeat;
  }
}

:global(.vtex-menu-2-x-submenuWrapper) {
  border: 0;
}

.closeIconButton {
  &::before {
    content: '';
    display: block;
    background-image: $ico-closeIconButton;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
  }

  &::after {
    content: 'Voltar';
    font-weight: 800;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 30px;
    color: $c-gray04;
    text-transform: uppercase;
    font-size: 12px;
    align-items: center;
    display: flex;
  }
}

.closeIcon {
  opacity: 0;
}

.closeIconContainer {
  position: relative;
  border-bottom: 1px solid $c-gray02;
  margin: 0 26px;
}

.closeIconButton {
  outline: none;
  display: flex;
  align-items: center;
}

.minicartTitle {
  display: none;
}

:global(.vtex-checkout-summary-0-x-price) {
  color: $c-primay01
}

:global(.vtex-checkout-summary-0-x-summaryItemContainer):last-child {
  font-size: 16px;
  text-transform: uppercase;
}

:global(.vtex-checkout-summary-0-x-summaryItemLabel),
:global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {
  color: $c-gray04;

}
:global(.vtex-checkout-summary-0-x-summaryItemLabel), 
:global(.vtex-checkout-summary-0-x-summaryItemPrice){
  font-weight: 800;
}

:global(.vtex-checkout-summary-0-x-summaryItemContainer) {
  border-bottom: 1px solid $c-gray02;
  border-top: 1px solid $c-gray02;
  margin: 15px 0;
  padding: 24px 0;
}

.minicartCheckoutButton {
  :global(.vtex-button) {
    background-color: $c-accent03;
    outline: none;
    border: 0;
    height: 48px;
  }

  :global(.vtex-button__label) {
    font-size: 0;
  }

  :global(.vtex-button__label)::before {
    content: 'Finalizar Compra';
    display: block;
    font-size: 15px;
  }
}

.minicartSideBarContentWrapper {
  :global(.vtex-product-list-0-x-removeButton) {
    outline: none;
  }

  :global(.vtex-product-list-0-x-removeButton)::before {
    content: '';
    display: block;
    background-image: $ico-minicartSideBarContentWrapper-removeButton;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    position: inherit !important;
    right: 13px;
  }
}

.minicartEmptyStateContainer {
  :global(.vtex-store-icons-0-x-cartIcon--minicart-empty-state) {
    opacity: 0;
    height: 0;
  }

  :global(.vtex-rich-text-0-x-wrapper)::before {
    content: '';
    display: block;
    background-image: $ico-minicartEmptyStateContainer-wrapper;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    margin: auto;
  }

  :global(.vtex-rich-text-0-x-wrapper)::after {
    content: 'Seu carrinho de compras está vazio';
    display: block;
    color: $c-gray04;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    margin: 16px 0 0;
  }

  :global(.vtex-rich-text-0-x-paragraph) {
    display: none;
  }
}

:global(.vtex__icon-delete) {
  opacity: 0;
}

.openIconContainer {
  padding: 0;

  :global(.vtex-button__label) {
    height: 24px;
    display: flex;
    align-items: baseline;
  }
}

.minicartProductListContainer {
  padding: 0 20px;

  :global(.vtex-product-list-0-x-deleteIcon) {
    display: none;
  }
}

.minicartQuantityBadgeDefault {
  background: $c-red;
  color: $white;
  font-size: 10px;
  padding: 0;
  top: 1px;
}

.minicartSummary,
.minicartCheckoutButton {
  padding-left: 20px;
  padding-right: 20px;
}

:global(.vtex-checkout-summary-0-x-summaryItemContainer) {
  display: none;
}

:global(.vtex-checkout-summary-0-x-summarySmallContent) :global(.vtex-checkout-summary-0-x-summaryItemContainer):last-child {
  display: flex;
}

@media screen and (min-width: 768px) {
  .drawer {
    width: 336px !important;
  }
}
