/* inicio footer */

.styledLinkContainer {
  &--titulo-footer {
    border-bottom: 1px solid $c-gray02;
    margin: 0;
    padding-bottom: 13px;
    padding-top: 13px;
  }

  &--categoria-footer,
  &--numberTelefone,
  &--email,
  &--footer-menu-list {
    margin: 0;
    padding: 0;
  }
}

.styledLinkContent {
  &--titulo-footer {
    color: $c-footertTitleMobile;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;

    @include media('>=wide') {
      color: $c-footertTitle;
    }
  }

  &--categoria-footer,
  &--footer-menu-list {
    color: $c-footertText;
    font-size: 12px;
    line-height: 12px;
  }

  &--email {
    color: $c-footertTextEmailMobile;
    font-size: 12px;

    @include media('>=desktop') {
      color: $c-footertTextEmail;
    }
  }
}

.styledLink {

  &--categoria-footer,
  &--footer-menu-list {
    padding: .25rem 0;
    margin: 0 0 7px;
    display: block;
  }

  &--numberTelefone {
    color: $c-primay01;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
  }
}

.submenuAccordion {
  padding: 1rem 0;
}

.accordionIcon {
  &--titulo-footer {
    font-size: 0;

    &--isClosed {
      &::before {
        background-image: $ico-arrow-isclosed-accordion-footer;
        background-position: center;
        background-repeat: no-repeat;
        content: '';
        display: flex;
        height: 10px;
        width: 10px;
        transition: .5s;
      }
    }

    &--isOpen {
      &::before {
        background-image: $ico-arrow-isopen-accordion-footer;
        background-position: center;
        background-repeat: no-repeat;
        content: '';
        display: flex;
        height: 10px;
        width: 10px;
        transform: rotate(180deg);
        transition: .5s;
      }
    }
  }
}

.menuItem {
  &--titulo-footer {
    &--isClosed {
      display: block !important;
      &:last-child {
        display: none;
      }
    }

    &--isOpen {
      display: block !important;
      &:last-child  {
        display: block;
      }
    }
  }
}

/* fim footer */
