:global(.vtex-account) {
  padding: 0 16px;

  @include media('>=desktop') {
    max-width: 1024px;
    margin: 0 auto;
  }

  @include media('>=wide') {
    max-width: 1200px;
  }

  @include media('>=fullhd') {
    max-width: 1223px;
  }
}

:global(.vtex-account__page) {
  width: 100%;
}

.menu {
  padding-left: 0;
}

:global(.vtex-pageHeader__container) {
  padding-top: 0;
  padding-left: 15px;

  :global(.mt7) {
    margin-top: 0;
  }

  :global(.c-on-base) {
    border-bottom: 1px solid $c-gray02;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
  }

  :global(.vtex-pageHeader__title) {
    color: $c-title;
    font-size: 24px;
    font-weight: normal;
  }

  :global(.vtex-pageHeader__children) :global(.vtex-button) {
    border-radius: 0;
    font-size: 12px;
    min-height: 48px;
    min-width: 184px;
    margin-top: 16px;
    font-weight: 700;
    background-color: $c-accent03;

    @include media('>=phone') {
      margin-top: 0;
    }
  }
}

:global(.vtex-pageHeader-link__container) {
  :global(.vtex-button) {
    color: $c-gray04;
    font-weight: 700;
    font-size: 0;
    display: flex;
    align-items: center;

    :global(.vtex__icon-arrow-back), 
    :global(.t-action--small) {
      display: none;
    }

    &::before {
      content: '';
      background-image: $ico-back-account;
      background-repeat: no-repeat;
      background-position: center center;
      width: 24px;
      height: 24px;
      display: block;
    }

    &::after {
      content: 'Voltar';
      font-size: 12px;
      line-height: 24px;
    }

    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
}

.boxContainer {
  border: 1px solid $c-gray02;
  border-radius: 0;
}

.boxContainerBody {
  :global(.vtex-button) {
    background-color: $c-accent03;
  }
}

:global(.vtex-my-account-1-x-boxContainerFooter) {
  :global(.vtex-button__label) {
    font-weight: 800;
  }
}

.dataEntryLabel,
.newsletterContainerTitle {
  color: $c-gray04;
  font-size: 12px;
}

:global(.address-summary) {
  color: $c-gray07;
  font-size: 14px;
}

:global(.vtex-profile-form-3-x-styleguideInput .vtex-input__label),
:global(.vtex-dropdown__label),
:global(.vtex-address-form__postalCode) :global(.vtex-input__label)::before,
.boxContainerBody :global(.vtex-input__label) {
  color: $c-gray04;
  font-size: 12px;
}

:global(.vtex-profile-form-3-x-styleguideInput .vtex-input-prefix__group),
:global(.vtex-address-form__postalCode .vtex-input-prefix__group),
.boxContainerBody :global(.vtex-input-prefix__group) {
  border: 1px solid $c-gray02;
  background: $c-gray01;
  height: 56px;
}

:global(.vtex-address-form__postalCode .vtex-input-prefix__group),
.boxContainerBody :global(.vtex-input-prefix__group) {
  border-radius: 0;
}

:global(.vtex-address-form__postalCode .vtex-address-form-4-x-input),
:global(.vtex-address-form__postalCode .vtex-input__suffix),
.boxContainerBody :global(.vtex-address-form-4-x-input) {
  background: $c-gray01;
}

:global(.vtex-profile-form-3-x-styleguideInput .vtex-input-prefix__group .bw1.br2.b--solid.outline-0.near-black.bg-white) {
  border: 0;
  background-color: $c-gray01;
  color: $c-gray06;
}

:global(.vtex-profile-form-3-x-styleguideInput .vtex-dropdown .b--light-gray.bg-white),
:global(.vtex-address-form-4-x-container) {
  background-color: $c-gray01;
  border: 1px solid $c-gray02;
  height: 56px;
  color: $c-gray06;
  display: flex;
  align-items: center;
  border-radius: 0;
}

:global(.vtex-profile-form-3-x-styleguideInput .vtex-dropdown__arrow svg),
:global(.vtex-address-form-4-x-container svg) {
  display: none;
}

:global(.vtex-profile-form-3-x-styleguideInput .vtex-dropdown__arrow)::before,
:global(.vtex-address-form-4-x-container .vtex-dropdown__arrow) {
  content: '';
  background-image: $ico-arrow-account;
  display: block;
  width: 10px;
  height: 6px;
  background-repeat: no-repeat;
}

:global(.vtex-address-form-4-x-container .flex) {
  display: flex;
  align-items: center;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) :global(.vtex-button) {
  background-color: transparent;
  border-width: 0;
  color: $c-link;
  min-height: 0 !important;
  padding: 0;
  text-align: left;
  text-decoration: underline;
  text-transform: none;
}

:global(.vtex-account__page-body .t-heading-4) {
  color: $c-gray06;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  max-width: 395px;
  display: block;
  margin: 0 auto;
}

:global(.vtex-my-account-1-x-addressBox) :global(.vtex-button):hover {
  background-color: transparent;
}

:global(.vtex-account_menu-link) {
  font-size: 12px;
}

:global(.vtex-my-orders-app-3-x-orderHeader) {
  background-color: transparent;
}

:global(.vtex-my-orders-app-3-x-orderId) {
  color: $c-primay01;
  font-weight: 800;
}

:global(.vtex-my-orders-app-3-x-detailsBtn) {
  align-items: center;
  background-color: $c-accent03;
  border-radius: 0;
  color: $white;
  display: flex;
  justify-content: center;
  min-height: 48px;
  text-transform: uppercase;
  font-weight: 800;
}

:global(.vtex-address-form__postalCode-forgottenURL) {
  color: $c-primay01;
  font-size: 12px;
  line-height: 14px;
  text-decoration: underline;
}

:global(.vtex-button) {
  border-radius: 0;
  border-width: 0;
  min-height: 48px;

  &:hover {
    border-radius: 0;
    border-width: 0;
  }
}
