/* orders */
:global(.vtex-my-orders-app-3-x-orderCard) {
  border: 0;
}

:global(.vtex-my-orders-app-3-x-orderHeader) {
  border: 1px solid $c-gray02;
}

:global(.vtex-my-orders-app-3-x-orderHeaderLabel) {
  color: $c-gray04;
  font-size: 12px;
}

:global(.vtex-my-orders-app-3-x-orderHeaderValue),
:global(.vtex-my-orders-app-3-x-orderProductName) {
  color: $c-gray06;
  font-size: 12px;
}

:global(.vtex-my-orders-app-3-x-orderProductShipping),
:global(.vtex-my-orders-app-3-x-orderProductQuantityValue),
:global(.vtex-my-orders-app-3-x-reorderBtn),
:global(.vtex-my-orders-app-3-x-cancelBtn) {
  color: $c-gray04;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

:global(.vtex-account__order-details .list) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

:global(.vtex-account__order-details .underline) {
  text-decoration: none;
}

:global(.vtex-account__order-details .db.dib-ns.mr7-ns.mb5.mb0-ns .dib),
:global(.vtex-account__order-details .db.pv2.c-link.hover-c-link) {
  display: flex;
  align-items: center;
  color: $c-gray04;
  font-size: 12px;
  text-transform: uppercase;
}

:global(.vtex-my-orders-app-3-x-reorderBtn svg),
:global(.vtex-account__order-details .db.dib-ns.mr7-ns.mb5.mb0-ns svg),
:global(.vtex-my-orders-app-3-x-cancelBtn svg) {
  display: none;
}

:global(.vtex-my-orders-app-3-x-reorderBtn)::before,
:global(.vtex-account__order-details .db.dib-ns.mr7-ns.mb5.mb0-ns .dib)::before {
  content: '';
  background-image: $ico-orders;
  width: 24px;
  height: 24px;
  display: block;
}

:global(.vtex-my-orders-app-3-x-cancelBtn)::before,
:global(.vtex-account__order-details .db.pv2.c-link.hover-c-link)::before {
  background-image: $ico-orders-2;
  width: 24px;
  height: 24px;
  display: block;
  content: '';
}

:global(.vtex-account__order-details .f4.mb0.lh-copy) {
  color: $c-gray06;
  font-size: 16px;
}

:global(.vtex-account__order-details .mr3) {
  color: $c-gray07;
  font-size: 14px;
}

:global(.vtex-my-orders-app-3-x-productName),
:global(.vtex-my-orders-app-3-x-productQuantity),
:global(.vtex-my-orders-app-3-x-productTotalPrice),
:global(.vtex-my-orders-app-3-x-productPrice) {
  font-weight: 800;
  font-size: 12px;
  color: $c-gray06;
  text-decoration: none;
}

:global(.vtex-my-orders-app-3-x-productTable .pa0) {
  font-size: 12px;
  color: $c-gray04;
  font-weight: normal;
}
