.productHighlightWrapper--collection{background-color:#001d42;color:#fff;margin:auto;font-size:10px;display:flex;align-items:center;justify-content:center;min-width:100px;height:24px;font-weight:700;padding:4px 8px;text-align:center;text-transform:uppercase}