/* inicio Footer */

.container {
  &--titulo-footer {
    .paragraph {
      color: $c-footertTitle;
      font-size: 12px;
      font-weight: 800;
      margin-bottom: 16px;
      text-transform: uppercase;

      @include media('<=phone') {
        margin: 15px 0;
      }
    }
  }

  &--titulo-news,
  &--subtitle-news {
    @include media('>=phone') {
      display: flex;
      justify-content: flex-start;
    }
  }

  &--titulo-footer-redes-sociais {
    .paragraph {
      color: $c-footertTitleMobile;
      font-size: 12px;
      font-weight: 800;
      margin-bottom: 0;
      text-transform: uppercase;

      @include media('>=desktop') {
        color: $c-footertTitle;
      }
    }
  }

  &--atendimento {
    .paragraph {
      color: $c-footertTextAtendimento;
      font-size: 12px;
      margin: 0;

      @include media('>=desktop') {
        color: $c-footertTextAtendimentolMobile;
      }
    }
  }

  &--copyright,
  &--copyright-cnpj {
    .paragraph {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &--copyright {
    .paragraph {
      color: $c-footertTextCopyrightMobile;
      margin-bottom: 0;

      @include media('>=desktop') {
        color: $c-footertTextCopyright;
      }
    }
  }

  &--copyright-cnpj {
    .paragraph {
      color: $c-gray04;
      margin: 0;

      @include media('>=desktop') {
        color: $c-gray04;
      }
    }
  }

  &--powered-developed {
    .paragraph {
      color: $c-gray04;
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 12px;

      @include media('>=desktop') {
        color: $c-gray04;
      }
    }
  }

  @include media('>=phone') {
    &--question {
      .strong {
        font-size: 40px;
        line-height: 3rem;
      }
    }

    &--about {
      max-width: 85%;
    }

    &--title {
      color: #03034E;
      font-size: 40px;
      font-weight: 700;
      max-width: 60%;
    }

    &--title {
      .paragraph {
        line-height: 1.3em;
      }
    }

    &--titulo-footer-redes-sociais {
      .paragraph {
        margin-bottom: 16px;
      }
    }

    &--titulo-footer-contato {
      .paragraph {
        margin-bottom: 0 !important;
      }
    }
  }
}

.paragraph {
  &--titulo-news {
    color: $c-primay01;
    font-weight: 700;
    font-size: 18px;
    margin: 0;

    @include media('>=phone') {
      text-align: start;
    }
  }

  &--subtitle-news {
    font-size: 14px;
    margin: 0;
    text-align: center;
    color: $c-gray04;

    :global(.vtex-rich-text-0-x-strong--subtitle-news) {
      color: $c-primay01;
    }

    @include media('>=phone') {
      text-align: start;
    }
  }

  &--seo-footer-text {
    font-size: 14px;
    color: $c-gray04;
    line-height: 22px;

    @include media('>=desktop') {
      margin-bottom: 32px;
      margin-top: 24px;
    }
  }

  &--titulo-footer-contato {
    color: $c-footertTitleMobile;
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase;

    @include media('>=desktop') {
      color: $c-footertTitle;
    }
  }
}

.wrapper {
  &--title-category {
    margin-left: 12px;
    font-weight: 500;
  }
}

/* fim Footer */
