/* Home */
.headingLevel2--shelfTitle {
  font-size: 16px;
  color: $c-gray08;
  font-weight: 400;
  margin: 0 0 8px;

  @include media('>=tablet') {
    margin: 0 0 16px;
    font-size: 24px;
  }
}

.headingLevel2--shelfTitle-01 {
  font-size: 16px;
  color: $c-gray08;

  @include media('>=tablet') {
    font-size: 24px;
  }
}

.headingLevel3--home-slider-title {
  margin: 0 0 16px;
  color: $c-black02;
  font-size: 40px;
  line-height: 47px;
  font-weight: 400;
}

.paragraph--home-slider-text {
  margin: 0 0 16px;
  color: $c-gray05;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

/* Newsletter */

.paragraph--home-categorias-text {
  font-size: 16px;
  line-height: 19px;
  color: $c-gray05;
  margin: 8px 0 0;
}


/* Home */
