/* Institucional */

.container--institucional-title {
  border-bottom: 1px solid $c-gray02;
}

.paragraph {
  &--institucional-title {
    font-size: 24px;
    color: $c-gray08;
  }

  &--guide-main-title {
    font-size: 14px;
    color: $c-gray05;
    margin-top: 0;
  }

  @include media('>=fullhd') {
    &--guide-menu-item {
      margin-left: 50px;
    }
  }
}

.link {
  &--guide-main-title {
    color: $c-gray05;
    text-decoration: none;
  }
}

/* Institucional */
