// Variables
@import '../settings/_index';

.headerContainer {
  &--quickview {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.actionsContentWrapper {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $c-gray10;
  padding-top: 1.5rem;
}

.contentContainer {
  &--quickviewContent {
    padding: 40px 0 32px;
    overflow-x: hidden;

    :global(.vtex-product-price-1-x-listPriceValue), :global(.vtex-product-price-1-x-installmentsNumber), :global(.vtex-product-price-1-x-installmentValue) {
      color: $c-gray04;
      font-size: 16px;
      margin-bottom: 4px;
      line-height: 33px;
    }

    :global(.vtex-product-price-1-x-sellingPriceValue) {
      color: $c-primay01;
      font-size: 24px;
    }
  }
}

.triggerContainer {
  outline: none;
}

.closeButton {
  padding-right: 1rem;
}

.paper {
  &--product-gifts {
    padding: 1.5rem;
  }

  @include media('>=desktop'){
    &--quickview {
      min-height: 548px;
      width: 1016px;
      padding: 24px;

      :global(.vtex-store-components-3-x-carouselGaleryCursor) {
        max-width: 495px;
      }
      :global(.vtex-store-components-3-x-carouselGaleryThumbs) {
        max-height: 500px;
      }
    }
  }
}

.actionsContainer {
  &--quickview {
    height: 100%;
    width: 100%;
    transition: box-shadow 150ms ease-in-out, border-top 150ms ease-in-out;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: transparent;
    box-shadow: -4px 0px 27px -12px transparent;

    @include media('>=desktop'){
      padding-right: 32px;
    }

    &:not(.actionsContainerEndOfContent--quickview) {
      border-top-color: rgb(238, 238, 238);
      box-shadow: -4px 0px 27px -12px rgba(0,0,0,0.64);
    }
    &:not(.actionsContainerEndOfContent--quickview) .actionsContentWrapper {
      border-top-color: transparent;
    }
    :global(.vtex-wish-list-1-x-wishlistIconContainer) {
      width: 100% !important;
      margin-top: 16px;
      border: 1px solid $c-gray03;
      padding: 0 16px;
      height: 48px;
      display: flex;
      align-items: center;
      
      :global(.vtex-button__label) {
        padding: 0 !important;
        &::after {
          color: $c-gray05;
          content: 'adicionar a lista de desejos';
          font-size: 12px;
          margin-left: 30px;
          font-weight: 800;
        }
      }
    }
  }
}