// Variables
@import '../settings/_index';

.skuSelectorContainer--quickview  {
  .skuSelectorItemImage {
    .frameAround,
    .skuSelectorInternalBox {
      border-radius: 50%;
    }
  }
}

:global(.vtex-stack-layout-0-x-stackItem--quickview) {
  left: 89%;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: center;
  text-align: center;
  padding: 8px 0 22px;
}

.brandName {
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 14px;
  text-align: center;
  color: $c-gray06 !important;
  display: -webkit-box;
  line-height: 16px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.container {
  text-align: start;
  border-radius: 0;
  position: relative;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

:global(.vtex-store-components-3-x-discountInsideContainer) {
  left: 0;
  right: unset;
}

.priceContainer {
  text-align: center;
  padding: 0;
}

.price_listPrice,
.price_installmentContainer {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: $c-gray04;
}

.price_sellingPrice {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $c-primay01;
}
.buyButton :global(.vtex-button){
  display: none;
}

.price_sellingPriceContainer {
  text-align: center;
}

.price_sellingPriceLabel, 
.price_listPriceLabel {
  display: none;
}

:global(.vtex-modal-layout-0-x-triggerContainer--quickview) {
  :global(.vtex-store-icons-0-x-expandIcon) {
    display: none;
  }

  &::before {
    background-image: $ico-triggerContainer-quickview;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    display: flex;
    width: 24px;
    height: 24px;
  }
}

.clearLink :global(.vtex-product-price-1-x-savings--summar) {
  top: auto !important;
}

/* Shelf */
.element {
  padding: 0; 
}
/* Shelf */


/* Fim Wishlist  */