// Variables
@import "../settings/_index";

.biggy-autocomplete-wrapper {
  width: 90vw;

  @include media(">=tablet") {
    width: 95vw;
  }

  @include media(">=desktop") {
    width: 770px;
  }

  @include media(">=wide") {
    width: 704;
  }
}

.itemListTitle {
  font-size: 0;

  &::before {
    content: "Resultado de busca";
    font-size: 18px;
    color: $c-gray08;
  }
}

.itemListLinkTitle {
  color: $c-gray05;
  font-weight: 400;
}

.itemListSubItemLink {
  padding: 0 20px !important;
}

.biggy-autocomplete {
  flex-direction: column !important;
  max-height: 650px;

  .tileListItem {
    margin: 8px 0;
    max-width: 150px;

    @include media(">=desktop") {
      max-width: 200px;

      :global(.vtex-product-summary-2-x-clearLink) {
        width: 200px;
      }
    }
  }

  .tileListList {
    justify-content: space-around;
  }

  .tileList {
    :global(.vtex-search-0-x-element) {
      flex-direction: column;

      @media only screen and(min-width: 520px) {
        flex-direction: row;
      }
    }

    @include media(">=desktop") {
      justify-content: space-between;
    }
  }
}

.element {
  display: flex;
  flex-direction: column;
}

.itemList {
  overflow: visible !important;
}

.tileListItem :global(.vtex-product-summary-2-x-clearLink) {
  width: 150px;
}

.tileListTitle {
  font-size: 0;
  padding: 0;
  margin-top: 14px;

  &::before {
    content: "Produtos encontrados";
    font-size: 18px;
    color: $c-gray08;
  }
}

.tileList {
  padding: 0 20px;
}

.information,
.priceContainer {
  text-align: center;
  width: 100%;
}

.listPriceValue {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: $c-gray04;
}

.sellingPrice--hasListPrice {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $c-primay01;
}

.productBrand,
:global(.vtex-product-summary-2-x-productBrand) {
  color: $c-gray06;
  font-size: 12px;
}

:global(.vtex-store-components-3-x-searchBarInnerContainer--error-404) {
  display: block;
  margin-bottom: 2em;

  @include media(">=tablet") {
    top: 1em;
    width: 100% !important;
  }
}
